In [16]:
#Dependcies
import pandas as pd

In [17]:
# Make a reference to the file path
csv_path = "Resources/Homicide_Reports.csv"

In [18]:
# Read the CSV into a Pandas DataFrame
datasource_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
datasource_df.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,402433,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,2000,January,1,Murder or Manslaughter,...,Unknown,Male,28,Black,Unknown,Wife,Handgun,0,0,FBI
1,402434,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,2000,January,2,Murder or Manslaughter,...,Unknown,Male,18,Native American/Alaska Native,Unknown,Unknown,Handgun,0,1,FBI
2,402435,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,2000,January,3,Manslaughter by Negligence,...,Unknown,Male,12,Asian/Pacific Islander,Unknown,Family,Blunt Object,0,0,FBI
3,402436,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,2000,February,1,Manslaughter by Negligence,...,Unknown,Female,39,Asian/Pacific Islander,Unknown,Acquaintance,Blunt Object,0,0,FBI
4,402437,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,2000,March,1,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Knife,0,0,FBI

In [19]:
#cleanup and drop extra columns not needed in dataset 
clean_data_df = datasource_df.drop(columns=["Agency Code", "Agency Name","Agency Type","Victim Ethnicity",
                                            "Perpetrator Ethnicity", "Victim Count", "Perpetrator Count","Record Source"])
clean_data_df.head()

,Record ID,City,State,Year,Month,Incident,Crime Type,Crime Solved,Victim Sex,Victim Age,Victim Race,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Relationship,Weapon
0,402433,Anchorage,Alaska,2000,January,1,Murder or Manslaughter,Yes,Female,25,Black,Male,28,Black,Wife,Handgun
1,402434,Anchorage,Alaska,2000,January,2,Murder or Manslaughter,Yes,Female,31,White,Male,18,Native American/Alaska Native,Unknown,Handgun
2,402435,Anchorage,Alaska,2000,January,3,Manslaughter by Negligence,Yes,Male,1,Asian/Pacific Islander,Male,12,Asian/Pacific Islander,Family,Blunt Object
3,402436,Anchorage,Alaska,2000,February,1,Manslaughter by Negligence,Yes,Male,0,Asian/Pacific Islander,Female,39,Asian/Pacific Islander,Acquaintance,Blunt Object
4,402437,Anchorage,Alaska,2000,March,1,Murder or Manslaughter,No,Female,29,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Knife

In [20]:
# Check to see if there are any values with similar values in "Relationship"
clean_data_df["Relationship"].value_counts()

Unknown                 119525
Acquaintance             35111
Stranger                 32758
Wife                      8497
Girlfriend                7183
Friend                    6095
Son                       3938
Family                    3836
Daughter                  3112
Boyfriend                 2398
Mother                    1878
Husband                   1777
Neighbor                  1759
Father                    1642
Brother                   1585
In-Law                     912
Ex-Wife                    675
Common-Law Wife            621
Sister                     442
Stepson                    433
Stepfather                 423
Boyfriend/Girlfriend       377
Stepdaughter               309
Common-Law Husband         236
Employer                   174
Ex-Husband                 136
Employee                   122
Stepmother                  68
Name: Relationship, dtype: int64

In [21]:
# Combining similar Family together
clean_data_df = clean_data_df.replace(
    {"Mother": "Family", "Father": "Family", "Brother": "Family", "Daughter": "Family", 
    "Son": "Family", "Sister": "Family", "In-Law": "Family"})
clean_data_df.head()

,Record ID,City,State,Year,Month,Incident,Crime Type,Crime Solved,Victim Sex,Victim Age,Victim Race,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Relationship,Weapon
0,402433,Anchorage,Alaska,2000,January,1,Murder or Manslaughter,Yes,Female,25,Black,Male,28,Black,Wife,Handgun
1,402434,Anchorage,Alaska,2000,January,2,Murder or Manslaughter,Yes,Female,31,White,Male,18,Native American/Alaska Native,Unknown,Handgun
2,402435,Anchorage,Alaska,2000,January,3,Manslaughter by Negligence,Yes,Male,1,Asian/Pacific Islander,Male,12,Asian/Pacific Islander,Family,Blunt Object
3,402436,Anchorage,Alaska,2000,February,1,Manslaughter by Negligence,Yes,Male,0,Asian/Pacific Islander,Female,39,Asian/Pacific Islander,Acquaintance,Blunt Object
4,402437,Anchorage,Alaska,2000,March,1,Murder or Manslaughter,No,Female,29,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Knife

In [22]:

# Combining similar datasets: Friend, Romantic Relationship, Step-family and Coworker together
clean_data_df = clean_data_df.replace(
    {"Acquaintance": "Friend", "Stepmother": "Step-Family", "Stepbrother": "Step-Family", "Stepdaughter": "Step-Family", 
    "Stepson": "Step-Family", "Stepsister": "Step-Family", "Stepfather": "Step-Family", "Wife": "Romantic", "Husband":
    "Romantic", "Girlfriend": "Romantic", "Boyfriend": "Romantic", "Ex-Wife": "Romantic", "Ex-Husband": "Romantic", 
    "Common-Law Wife": "Romantic", "Common-Law Husband": "Romantic", "Boyfriend/Girlfriend": "Romantic", "Employee": 
    "Coworker", "Employer": "Coworker"})
clean_data_df["Relationship"].value_counts()

Unknown        119525
Friend          41206
Stranger        32758
Romantic        21900
Family          17345
Neighbor         1759
Step-Family      1233
Coworker          296
Name: Relationship, dtype: int64

In [23]:
clean_data_df.head()

,Record ID,City,State,Year,Month,Incident,Crime Type,Crime Solved,Victim Sex,Victim Age,Victim Race,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Relationship,Weapon
0,402433,Anchorage,Alaska,2000,January,1,Murder or Manslaughter,Yes,Female,25,Black,Male,28,Black,Romantic,Handgun
1,402434,Anchorage,Alaska,2000,January,2,Murder or Manslaughter,Yes,Female,31,White,Male,18,Native American/Alaska Native,Unknown,Handgun
2,402435,Anchorage,Alaska,2000,January,3,Manslaughter by Negligence,Yes,Male,1,Asian/Pacific Islander,Male,12,Asian/Pacific Islander,Family,Blunt Object
3,402436,Anchorage,Alaska,2000,February,1,Manslaughter by Negligence,Yes,Male,0,Asian/Pacific Islander,Female,39,Asian/Pacific Islander,Friend,Blunt Object
4,402437,Anchorage,Alaska,2000,March,1,Murder or Manslaughter,No,Female,29,Native American/Alaska Native,Unknown,0,Unknown,Unknown,Knife

In [24]:
print(clean_data_df["Weapon"].value_counts())

Handgun          116205
Knife             29118
Firearm           28077
Blunt Object      23945
Unknown           16190
Shotgun            7186
Rifle              6874
Strangulation      1905
Fire               1776
Suffocation        1638
Gun                1495
Drugs               981
Drowning            319
Poison              184
Explosives           82
Fall                 47
Name: Weapon, dtype: int64

In [25]:
# Combining similar datasets: Friend, Romantic Relationship, Step-family and Coworker together
clean_data_df = clean_data_df.replace(
    {"Handgun": "Firearm", "Shotgun": "Firearm", "Rifle": "Firearm", "Gun": "Firearm"})

In [26]:
print(clean_data_df["Weapon"].value_counts())

Firearm          159837
Knife             29118
Blunt Object      23945
Unknown           16190
Strangulation      1905
Fire               1776
Suffocation        1638
Drugs               981
Drowning            319
Poison              184
Explosives           82
Fall                 47
Name: Weapon, dtype: int64

In [27]:
# Push the remade DataFrame to a new CSV file
clean_data_df.to_csv("Output/clean_data.csv",
                  encoding="utf-8", index=False, header=True)