In [5]:
#Dependcies
import pandas as pd

In [8]:
# Make a reference to the file path
csv_path = "Resources/data_2017_2018.csv"

In [10]:
# Read the CSV into a Pandas DataFrame
data_source2_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
data_source2_df.head(400)

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT,MEDIAN,75PERCENT,STDEV
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,130","4,130","4,130","4,130",4130.0,NaN,NaN,NaN
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,262","19,262","19,262","19,262",19262.0,NaN,NaN,NaN
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,202","2,202","2,202","2,202",2202.0,NaN,NaN,NaN
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,202","2,202","2,202","2,202",2202.0,NaN,NaN,NaN
4,Public,Kansas,In-district average tuition for full-time unde...,"9,818","9,818","9,818","9,818",9818.0,NaN,NaN,NaN
5,Public,Kansas,In-state average tuition for full-time undergr...,"9,818","9,818","9,818","9,818",9818.0,NaN,NaN,NaN
6,Public,Kansas,Out-of-state average tuition for full-time und...,"25,586","25,586","25,586","25,586",25586.0,NaN,NaN,NaN
7,Public,Kansas,In-district average tuition full-time graduate...,"9,716","9,716","9,716","9,716",9716.0,NaN,NaN,NaN
8,Public,Kansas,In-state average tuition full-time graduates -...,"9,716","9,716","9,716","9,716",9716.0,NaN,NaN,NaN
9,Public,Kansas,Out-of-state average tuition full-time graduat...,"22,730","22,730","22,730","22,730",22730.0,NaN,NaN,NaN
10,Public,Kansas,Out-of-state required fees for full-time gradu...,988,988,988,988,988.0,NaN,NaN,NaN
11,Public,Kansas,In-state required fees for full-time graduates...,988,988,988,988,988.0,NaN,NaN,NaN
12,Public,Kansas,In-district required fees for full-time gradua...,988,988,988,988,988.0,NaN,NaN,NaN
13,Public,Kansas,Out-of-state required fees for full-time under...,"1,006","1,006","1,006","1,006",1006.0,NaN,NaN,NaN
14,Public,Kansas,In-state required fees for full-time undergrad...,"1,006","1,006","1,006","1,006",1006.0,NaN,NaN,NaN
15,Public,Kansas,In-district required fees for full-time underg...,"1,006","1,006","1,006","1,006",1006.0,NaN,NaN,NaN
16,Public,Kansas,Books and supplies 2017-18 - (17),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Public,Kansas,"On campus, room and board 2017-18 - (17)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Public,Kansas,"On campus, other expenses 2017-18 - (17)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Public,Kansas,"Off campus (not with family), room and board ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Public,Kansas,Full-time first-time degree/certificate-seekin...,"4,079","4,079","4,079","4,079",4079.0,NaN,NaN,NaN
21,Public,Kansas,Total entering students at the undergraduate l...,"5,645","5,645","5,645","5,645",5645.0,NaN,NaN,NaN
22,Public,Kansas,Current year GRS cohort as a percent of enteri...,72,72,72,72,72.0,NaN,NaN,NaN
23,Public,Missouri,Total number of full-time first-time degree/ce...,"4,672","4,672","4,672","4,672",4672.0,NaN,NaN,NaN
24,Public,Missouri,Total number of undergraduates - financial aid...,"25,877","25,877","25,877","25,877",25877.0,NaN,NaN,NaN
25,Public,Missouri,"Grand total - 4-year institutions, Completers ...","4,125","4,125","4,125","4,125",4125.0,NaN,NaN,NaN
26,Public,Missouri,Grand total - Bachelor's or equiv subcohort (4...,"4,125","4,125","4,125","4,125",4125.0,NaN,NaN,NaN
27,Public,Missouri,In-district average tuition for full-time unde...,"8,460","8,460","8,460","8,460",8460.0,NaN,NaN,NaN
28,Public,Missouri,In-state average tuition for full-time undergr...,"8,460","8,460","8,460","8,460",8460.0,NaN,NaN,NaN
29,Public,Missouri,Out-of-state average tuition for full-time und...,"25,179","25,179","25,179","25,179",25179.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39,Public,Missouri,Books and supplies 2017-18 - (17),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Public,Missouri,"On campus, room and board 2017-18 - (17)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Public,Missouri,"On campus, other expenses 2017-18 - (17)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Public,Missouri,"Off campus (not with family), room and board ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Public,Missouri,Full-time first-time degree/certificate-seekin...,"4,096","4,096","4,096","4,096",4096.0,NaN,NaN,NaN
44,Public,Missouri,Total entering students at the undergraduate l...,"5,136","5,136","5,136","5,136",5136.0,NaN,NaN,NaN
45,Public,Missouri,Current year GRS cohort as a percent of enteri...,80,80,80,80,80.0,NaN,NaN,NaN
46,Public,Nebraska,Total number of full-time first-time degree/ce...,"4,833","4,833","4,833","4,833",4833.0,NaN,NaN,NaN
47,Public,Nebraska,Total number of undergraduates - financial aid...,"20,833","20,833","20,833","20,833",20833.0,NaN,NaN,NaN
48,Public,Nebraska,"Grand total - 4-year institutions, Completers ...","2,756","2,756","2,756","2,756",2756.0,NaN,NaN,NaN
49,Public,Nebraska,Grand total - Bachelor's or equiv subcohort (4...,"2,756","2,756","2,756","2,756",2756.0,NaN,NaN,NaN
50,Public,Nebraska,In-district average tuition for full-time unde...,"7,125","7,125","7,125","7,125",7125.0,NaN,NaN,NaN
51,Public,Nebraska,In-state average tuition for full-time undergr...,"7,125","7,125","7,125","7,125",7125.0,NaN,NaN,NaN
52,Public,Nebraska,Out-of-state average tuition for full-time und...,"22,425","22,425","22,425","22,425",22425.0,NaN,NaN,NaN
53,Public,Nebraska,In-district average tuition full-time graduate...,"7,518","7,518","7,518","7,518",7518.0,NaN,NaN,NaN
54,Public,Nebraska,In-state average tuition full-time graduates -...,"7,518","7,518","7,518","7,518",7518.0,NaN,NaN,NaN
55,Public,Nebraska,Out-of-state average tuition full-time graduat...,"22,425","22,425","22,425","22,425",22425.0,NaN,NaN,NaN
56,Public,Nebraska,Out-of-state required fees for full-time gradu...,"1,853","1,853","1,853","1,853",1853.0,NaN,NaN,NaN
57,Public,Nebraska,In-state required fees for full-time graduates...,"1,853","1,853","1,853","1,853",1853.0,NaN,NaN,NaN
58,Public,Nebraska,In-district required fees for full-time gradua...,"1,853","1,853","1,853","1,853",1853.0,NaN,NaN,NaN
59,Public,Nebraska,Out-of-state required fees for full-time under...,"1,853","1,853","1,853","1,853",1853.0,NaN,NaN,NaN
60,Public,Nebraska,In-state required fees for full-time undergrad...,"1,853","1,853","1,853","1,853",1853.0,NaN,NaN,NaN
61,Public,Nebraska,In-district required fees for full-time underg...,"1,853","1,853","1,853","1,853",1853.0,NaN,NaN,NaN
62,Public,Nebraska,Books and supplies 2017-18 - (17),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Public,Nebraska,"On campus, room and board 2017-18 - (17)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Public,Nebraska,"On campus, other expenses 2017-18 - (17)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Public,Nebraska,"Off campus (not with family), room and board ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Public,Nebraska,Full-time first-time degree/certificate-seekin...,"4,883","4,883","4,883","4,883",4883.0,NaN,NaN,NaN
67,Public,Nebraska,Total entering students at the undergraduate l...,"5,716","5,716","5,716","5,716",5716.0,NaN,NaN,NaN
68,Public,Nebraska,Current year GRS cohort as a percent of enteri...,85,85,85,85,85.0,NaN,NaN,NaN

In [12]:
# Delete extraneous column
del data_source2_df['MEDIAN']
data_source2_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT,75PERCENT,STDEV
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,130","4,130","4,130","4,130",4130.0,NaN,NaN
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,262","19,262","19,262","19,262",19262.0,NaN,NaN
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,202","2,202","2,202","2,202",2202.0,NaN,NaN
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,202","2,202","2,202","2,202",2202.0,NaN,NaN
4,Public,Kansas,In-district average tuition for full-time unde...,"9,818","9,818","9,818","9,818",9818.0,NaN,NaN

In [13]:
# Delete extraneous column
del data_source2_df['75PERCENT']
data_source2_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT,STDEV
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,130","4,130","4,130","4,130",4130.0,NaN
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,262","19,262","19,262","19,262",19262.0,NaN
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,202","2,202","2,202","2,202",2202.0,NaN
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,202","2,202","2,202","2,202",2202.0,NaN
4,Public,Kansas,In-district average tuition for full-time unde...,"9,818","9,818","9,818","9,818",9818.0,NaN

In [14]:
# Delete extraneous column
del data_source2_df['STDEV']
data_source2_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG,25PERCENT
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,130","4,130","4,130","4,130",4130.0
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,262","19,262","19,262","19,262",19262.0
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,202","2,202","2,202","2,202",2202.0
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,202","2,202","2,202","2,202",2202.0
4,Public,Kansas,In-district average tuition for full-time unde...,"9,818","9,818","9,818","9,818",9818.0

In [16]:
# Identify incomplete rows
data_source2_df.count()

Control of institution    69
State                     69
Variable                  69
SUM                       57
MIN                       57
MAX                       57
AVG                       57
25PERCENT                 57
dtype: int64

In [17]:
# Drop all rows with missing information
data_source2 = data_source2_df.dropna(how='any')

In [18]:
# Verify dropped rows
data_source2_df.count

<bound method DataFrame.count of    Control of institution     State  \
0                  Public    Kansas
1                  Public    Kansas
2                  Public    Kansas
3                  Public    Kansas
4                  Public    Kansas
5                  Public    Kansas
6                  Public    Kansas
7                  Public    Kansas
8                  Public    Kansas
9                  Public    Kansas
10                 Public    Kansas
11                 Public    Kansas
12                 Public    Kansas
13                 Public    Kansas
14                 Public    Kansas
15                 Public    Kansas
16                 Public    Kansas
17                 Public    Kansas
18                 Public    Kansas
19                 Public    Kansas
20                 Public    Kansas
21                 Public    Kansas
22                 Public    Kansas
23                 Public  Missouri
24                 Public  Missouri
25                 Public  Missouri
26                 Public  Missouri
27                 Public  Missouri
28                 Public  Missouri
29                 Public  Missouri
..                    ...       ...
39                 Public  Missouri
40                 Public  Missouri
41                 Public  Missouri
42                 Public  Missouri
43                 Public  Missouri
44                 Public  Missouri
45                 Public  Missouri
46                 Public  Nebraska
47                 Public  Nebraska
48                 Public  Nebraska
49                 Public  Nebraska
50                 Public  Nebraska
51                 Public  Nebraska
52                 Public  Nebraska
53                 Public  Nebraska
54                 Public  Nebraska
55                 Public  Nebraska
56                 Public  Nebraska
57                 Public  Nebraska
58                 Public  Nebraska
59                 Public  Nebraska
60                 Public  Nebraska
61                 Public  Nebraska
62                 Public  Nebraska
63                 Public  Nebraska
64                 Public  Nebraska
65                 Public  Nebraska
66                 Public  Nebraska
67                 Public  Nebraska
68                 Public  Nebraska

                                             Variable     SUM     MIN     MAX  \
0   Total number of full-time first-time degree/ce...   4,130   4,130   4,130
1   Total number of undergraduates - financial aid...  19,262  19,262  19,262
2   Grand total - 4-year institutions, Completers ...   2,202   2,202   2,202
3   Grand total - Bachelor's or equiv subcohort (4...   2,202   2,202   2,202
4   In-district average tuition for full-time unde...   9,818   9,818   9,818
5   In-state average tuition for full-time undergr...   9,818   9,818   9,818
6   Out-of-state average tuition for full-time und...  25,586  25,586  25,586
7   In-district average tuition full-time graduate...   9,716   9,716   9,716
8   In-state average tuition full-time graduates -...   9,716   9,716   9,716
9   Out-of-state average tuition full-time graduat...  22,730  22,730  22,730
10  Out-of-state required fees for full-time gradu...     988     988     988
11  In-state required fees for full-time graduates...     988     988     988
12  In-district required fees for full-time gradua...     988     988     988
13  Out-of-state required fees for full-time under...   1,006   1,006   1,006
14  In-state required fees for full-time undergrad...   1,006   1,006   1,006
15  In-district required fees for full-time underg...   1,006   1,006   1,006
16                  Books and supplies 2017-18 - (17)     NaN     NaN     NaN
17           On campus, room and board 2017-18 - (17)     NaN     NaN     NaN
18           On campus, other expenses 2017-18 - (17)     NaN     NaN     NaN
19  Off campus (not with family), room and board  ...     NaN     NaN     NaN
20  Full-time first-time degree/certificate-seekin...   4,079   4,079   4,079
21  Total entering students at the undergraduate l...   5,645   5,645   5,645
22  Current year GRS cohort as a percent of enteri...      72      72      72
23  Total number of full-time first-time degree/ce...   4,672   4,672   4,672
24  Total number of undergraduates - financial aid...  25,877  25,877  25,877
25  Grand total - 4-year institutions, Completers ...   4,125   4,125   4,125
26  Grand total - Bachelor's or equiv subcohort (4...   4,125   4,125   4,125
27  In-district average tuition for full-time unde...   8,460   8,460   8,460
28  In-state average tuition for full-time undergr...   8,460   8,460   8,460
29  Out-of-state average tuition for full-time und...  25,179  25,179  25,179
..                                                ...     ...     ...     ...
39                  Books and supplies 2017-18 - (17)     NaN     NaN     NaN
40           On campus, room and board 2017-18 - (17)     NaN     NaN     NaN
41           On campus, other expenses 2017-18 - (17)     NaN     NaN     NaN
42  Off campus (not with family), room and board  ...     NaN     NaN     NaN
43  Full-time first-time degree/certificate-seekin...   4,096   4,096   4,096
44  Total entering students at the undergraduate l...   5,136   5,136   5,136
45  Current year GRS cohort as a percent of enteri...      80      80      80
46  Total number of full-time first-time degree/ce...   4,833   4,833   4,833
47  Total number of undergraduates - financial aid...  20,833  20,833  20,833
48  Grand total - 4-year institutions, Completers ...   2,756   2,756   2,756
49  Grand total - Bachelor's or equiv subcohort (4...   2,756   2,756   2,756
50  In-district average tuition for full-time unde...   7,125   7,125   7,125
51  In-state average tuition for full-time undergr...   7,125   7,125   7,125
52  Out-of-state average tuition for full-time und...  22,425  22,425  22,425
53  In-district average tuition full-time graduate...   7,518   7,518   7,518
54  In-state average tuition full-time graduates -...   7,518   7,518   7,518
55  Out-of-state average tuition full-time graduat...  22,425  22,425  22,425
56  Out-of-state required fees for full-time gradu...   1,853   1,853   1,853
57  In-state required fees for full-time graduates...   1,853   1,853   1,853
58  In-district required fees for full-time gradua...   1,853   1,853   1,853
59  Out-of-state required fees for full-time under...   1,853   1,853   1,853
60  In-state required fees for full-time undergrad...   1,853   1,853   1,853
61  In-district required fees for full-time underg...   1,853   1,853   1,853
62                  Books and supplies 2017-18 - (17)     NaN     NaN     NaN
63           On campus, room and board 2017-18 - (17)     NaN     NaN     NaN
64           On campus, other expenses 2017-18 - (17)     NaN     NaN     NaN
65  Off campus (not with family), room and board  ...     NaN     NaN     NaN
66  Full-time first-time degree/certificate-seekin...   4,883   4,883   4,883
67  Total entering students at the undergraduate l...   5,716   5,716   5,716
68  Current year GRS cohort as a percent of enteri...      85      85      85

       AVG  25PERCENT
0    4,130     4130.0
1   19,262    19262.0
2    2,202     2202.0
3    2,202     2202.0
4    9,818     9818.0
5    9,818     9818.0
6   25,586    25586.0
7    9,716     9716.0
8    9,716     9716.0
9   22,730    22730.0
10     988      988.0
11     988      988.0
12     988      988.0
13   1,006     1006.0
14   1,006     1006.0
15   1,006     1006.0
16     NaN        NaN
17     NaN        NaN
18     NaN        NaN
19     NaN        NaN
20   4,079     4079.0
21   5,645     5645.0
22      72       72.0
23   4,672     4672.0
24  25,877    25877.0
25   4,125     4125.0
26   4,125     4125.0
27   8,460     8460.0
28   8,460     8460.0
29  25,179    25179.0
..     ...        ...
39     NaN        NaN
40     NaN        NaN
41     NaN        NaN
42     NaN        NaN
43   4,096     4096.0
44   5,136     5136.0
45      80       80.0
46   4,833     4833.0
47  20,833    20833.0
48   2,756     2756.0
49   2,756     2756.0
50   7,125     7125.0
51   7,125     7125.0
52  22,425    22425.0
53   7,518     7518.0
54   7,518     7518.0
55  22,425    22425.0
56   1,853     1853.0
57   1,853     1853.0
58   1,853     1853.0
59   1,853     1853.0
60   1,853     1853.0
61   1,853     1853.0
62     NaN        NaN
63     NaN        NaN
64     NaN        NaN
65     NaN        NaN
66   4,883     4883.0
67   5,716     5716.0
68      85       85.0

[69 rows x 8 columns]>

In [19]:
# Delete extraneous column
del data_source2_df['25PERCENT']
data_source2_df.head()

,Control of institution,State,Variable,SUM,MIN,MAX,AVG
0,Public,Kansas,Total number of full-time first-time degree/ce...,"4,130","4,130","4,130","4,130"
1,Public,Kansas,Total number of undergraduates - financial aid...,"19,262","19,262","19,262","19,262"
2,Public,Kansas,"Grand total - 4-year institutions, Completers ...","2,202","2,202","2,202","2,202"
3,Public,Kansas,Grand total - Bachelor's or equiv subcohort (4...,"2,202","2,202","2,202","2,202"
4,Public,Kansas,In-district average tuition for full-time unde...,"9,818","9,818","9,818","9,818"

In [20]:
# Push the remade DataFrame to a new CSV file
data_source2_df.to_csv("Output/data2_clean.csv",
                  encoding="utf-8", index=False, header=True)